numpy==1.26.4
PyAudio==0.2.14
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
onnxruntime==1.19.2
transformers==4.42.4
flash-attn==2.6.3
deepspeed==0.14.0
soundfile==0.12.1
llama_cpp_python==0.3.1
huggingface-hub==0.24.0
accelerate==0.34.2
coqui-tts==0.24.2
scipy==1.14.0
Pillow==10.4.0